/* nav */
.navbar-expand-lg .navbar-nav .nav-link {
  color: #fff;
}
.navbar-brand {
  color: #024794;
}
/* @import url(https://fonts.googleapis.com/css?family=Raleway:400,700,900,400italic,700italic,900italic);

*,
:before,
:after {
    box-sizing: border-box;
}

body {
    background-color: #fdf9fd;
    color: #011a32;
    font: 16px/1.25 'Raleway', sans-serif;
    text-align: center;
} */

#wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 80em;
}

#container {
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: center;
    /* min-height: 100vh; */
    /* padding: 1em; */
    width: 100%;
    margin-bottom: 10px;
}

.main-heading{
    animation: text-shadow 4.5s ease-in-out ;
    font-size: 75px;
    font-weight: 900;
    line-height: 1;
    text-align:center;
}

.main-heading:hover {
    animation-play-state: paused;
}

a {
    color: #024794;
}

a:hover {
    text-decoration: none;
}

@keyframes text-shadow {
    0% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }

    20% {  
        transform: translateY(-1em);
        text-shadow: 
            0 0.125em 0 #0c2ffb, 
            0 0.25em 0 #2cfcfd, 
            0 -0.125em 0 #fb203b, 
            0 -0.25em 0 #fefc4b;
    }

    40% {  
        transform: translateY(0.5em);
        text-shadow: 
            0 -0.0625em 0 #0c2ffb, 
            0 -0.125em 0 #2cfcfd, 
            0 0.0625em 0 #fb203b, 
            0 0.125em 0 #fefc4b;
    }
    
   60% {
        transform: translateY(-0.25em);
        text-shadow: 
            0 0.03125em 0 #0c2ffb, 
            0 0.0625em 0 #2cfcfd, 
            0 -0.03125em 0 #fb203b, 
            0 -0.0625em 0 #fefc4b;
    }

    80% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition: none !important;
    }
}

/* end nav */
/* main css */
.context {
  width: 100%;
  position: absolute;
  top: 50vh;
}

.context {
  text-align: center;
  color: #fff;
  font-size: 50px;
}

.area {
  position:relative;
  background: lightgreen;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: 100%;
  height: 100vh;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
.msg-container{
  width:600px;
  height: 280px;
  position: absolute;
  left:14%;
  top:57%;
  transform: translateY(-50%);
  overflow: hidden;
}
#slider{
  display: inline-flex;
  transition: 0.5s;
}
.msg-col{
  width: 600px;
  height: 280px;
}
.msg-col h1{
  color: #1388d6;
  font-size: 40px ;
  font-weight: 400;
  margin: 10px 0;
}
.msg-col p{
  color: #000;
  font-size: 15px;
  line-height:25px;
  font-weight: 400;
}
.msg-col a{
  display: inline-block;
  text-decoration: none;
  color: #555;
  background: #fff;
  font-size: 15px;
  padding: 10px 35px;
  border-radius:30px;
  margin-top: 25px;
}
.controller{
  width: 1px;
  height: 240px;
  display: block;
  background: #fff;
  position: absolute;
  top:35%;
  right:50px;
  transform: translate(-50%);
}
#line1,#line2,#line3{
height: 60px;
width:10px;
cursor: pointer;
transform:translateX(-50%);
}
#active{
  width: 5px;
  height: 80px;
  border-radius: 10px;
  background: #fff;
  position: absolute;
  top:0;
  transform: translateX(-50%);
}
.lottie-img{
  position: absolute;
  top:7%;
  right:10%;
  width:350px;
}
/* end main */
/* about us */
@keyframes vertical {
  0% {
    opacity: 0;
  }
  4% {
    opacity: 0;
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
  10% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  38% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  45% {
    opacity: 0;
    -webkit-transform: translateY(-90px);
    transform: translateY(-90px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.verticalflip {
  font-size: 140%;
  font-weight: bold;
}

.verticalflip span {
  animation: vertical 7.5s linear infinite 0s;
  -ms-animation: vertical 7.5s linear infinite 0s;
  -webkit-animation: vertical 7.5s linear infinite 0s;
  color: #2482ff;
  position: absolute;
  opacity: 0;
  background: #fed82b;
  padding: 3px;
  border-radius: 10px;
}

.verticalflip span:nth-child(2) {
  -ms-animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

.verticalflip span:nth-child(3) {
  -ms-animation-delay: 5s;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}
.text-secondary{
  margin-top:55px;
}

/* end about us */
/* services */
#service {
  padding: 60px 0;
  min-height: 100vh;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}

a,
a:active,
a:focus {
  color: #6f6f6f;
  text-decoration: none;
  transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-duration: .2s;
  -ms-transition-duration: .2s;
  -moz-transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -o-transition-duration: .2s;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
max-width: 100%;
height: auto;
}
.section_title {
margin-bottom: 40px;
}

.section_title h2 {
color: #333333;
font-size: 25px;
font-weight: 700;
letter-spacing: 1.8px;
text-transform: uppercase;
}

.brand_border .fa.fa-minus {
color: #fff;
font-size: 8px;
height: 2px;
background: rgb(97,200,223) none repeat scroll 0 0;
width: 100px;
}
.brand_border .fas.fa-handshake {
font-size: 14px;
color:#000000;
}


.section_title p {
color: #333333;
font-size: 14px;
line-height: 25px;
padding: 14px 0;
}

.choose_us .section_title {
margin-top: 45px;
}
#service .single_service {
padding: 32px;
box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
margin-bottom: 50px;
}

#service .single_service:hover{
box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
}

#service .icon {
border: 1px solid #666;
border-radius: 5%;
color: #333333;
font-size: 35px;
line-height: 65px;
overflow: hidden;
text-align: center;
text-decoration: none;
width: 70px;
}

#service .single_service .single_service-left {
padding-right: 25px;
}

.single_service-heading {
font-size: 15px;
font-weight: 700;
text-transform: uppercase;
color: #000;
}

.single_service-body p {
font-size: 13px;
line-height: 25px;
}

.single_service-left {
display: table-cell;
vertical-align: top;
}
.single_service-body {
color: #333333;
display: table-cell;
vertical-align: top;
}
.hvr-curl-top-right {
display: inline-block;
vertical-align: middle;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px transparent;
position: relative;
}
#service .single_service:hover {
background:rgb(53,212,118) none repeat scroll 0 0;
}
/* services */
/* clients section */


/* end clients */
/* our team */

.heading-title {
  margin-bottom: 100px;
  text-align: center;
  padding-left: 15%;
}
.text-center {
  text-align: center;
}
.heading-title h3 {
  margin-bottom: 0;
  letter-spacing: 2px;
  font-weight: normal;
}
.p-top-30 {
  padding-top: 30px;
}
.half-txt {
  width: 60%;
  margin: 0 auto;
  display: inline-block;
  line-height: 25px;
  color: #7e7e7e;
}
.text-uppercase {
  text-transform: uppercase;
}

.team-member, .team-member .team-img {
  position: relative;
  width: 80%;
}
.team-member {
  overflow: hidden;
}
.team-member, .team-member .team-img {
  position: relative;
}

.team-hover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  border: 20px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.90);
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.team-member:hover .team-hover .desk {
  top: 35%;
}
.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
  opacity: 1;
}
.team-hover .desk {
  position: absolute;
  top: 0%;
  width: 100%;
  opacity: 0;
  -webkit-transform: translateY(-55%);
  -ms-transform: translateY(-55%);
  transform: translateY(-55%);
  -webkit-transition: all 0.3s 0.2s;
  transition: all 0.3s 0.2s;
  padding: 0 20px;
}
.desk, .desk h4, .team-hover .s-link a {
  text-align: center;
  color: #222;
}
.team-member:hover .team-hover .s-link {
  bottom: 10%;
}
.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
  opacity: 1;
}
.team-hover .s-link {
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0;
  text-align: center;
  -webkit-transform: translateY(45%);
  -ms-transform: translateY(45%);
  transform: translateY(45%);
  -webkit-transition: all 0.3s 0.2s;
  transition: all 0.3s 0.2s;
  font-size: 35px;
}
.desk, .desk h4, .team-hover .s-link a {
  text-align: center;
  color: #222;
}
.team-member .s-link a {
  margin: 0 10px;
  color: #333;
  font-size: 16px;
}
.team-title {
  position: static;
  padding: 20px 0;
  display: inline-block;
  letter-spacing: 2px;
  width: 100%;
}
.team-title h5 {
  margin-bottom: 0px;
  display: block;
  text-transform: uppercase;
}
.team-title span {
  font-size: 12px;
  text-transform: uppercase;
  color: #a5a5a5;
  letter-spacing: 1px;
}
/* end team */


@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}
.client-slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: 35px;
  overflow: hidden;
  position: relative;
}
.client-slider::before, .client-slider::after {
  background: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.client-slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}
.client-slider::before {
  left: 0;
  top: 0;
}
.client-slider .client-slide-track {
  -webkit-animation: scroll 40s linear infinite;
          animation: scroll 40s linear infinite;
  display: -webkit-box;
  display: flex;
  width: calc(250px * 14);
}
.client-slider .client-slide {
  height: 100px;
  width: 250px;
}

/* footer video*/
.horizontal-scroll {
  width: 100%;
  height: 400px;
  background: url("http://mckenziedave.co.uk/1st-touch/footer_fr.png");
  -webkit-animation: backgroundScroll 400s linear infinite;
  animation: backgroundScroll 60s linear infinite;
  background-repeat: no-repeat;
}

@-webkit-keyframes backgroundScroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -600px 0;
  }
}

@keyframes backgroundScroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -2000px 0;
  }
}

.horizontal-scroll2 {
  width: 100%;
  height: 400px;
  background: url("http://mckenziedave.co.uk/1st-touch/footer_bg.png");
  -webkit-animation: backgroundScroll2 400s linear infinite;
  animation: backgroundScroll2 30s linear infinite;
  background-repeat: no-repeat;
}

@-webkit-keyframes backgroundScroll2 {
  from {
    background-position: -1000px 0;
  }
  to {
    background-position: 0 0;
  }
}

@keyframes backgroundScroll2 {
  from {
    background-position: -2000px 0;
  }
  to {
    background-position: 0 0;
  }
}
/* Footer video */
/* Foooter */
.site-footer
{
  background-color:lightgreen;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
/* Footer */
/* Service animation/
